[NetDev]
Name=wg
Kind=wireguard

[WireGuard]
ListenPort=17815
PrivateKey=<private key for "n1" >


# hubhost
[WireGuardPeer]
PublicKey=<public key for "hubhost" >
PresharedKey=<secret PSK for ( "hubhost" , "n1" ) >
Endpoint=hubhost:17815
AllowedIPs=fd00:bad:f00d::7/128


# n2
[WireGuardPeer]
PublicKey=<public key for "n2" >
PresharedKey=<secret PSK for ( "n2" , "n1" ) >
Endpoint=n2:17815
AllowedIPs=fd00:bad:f00d::2/128


# n3
[WireGuardPeer]
PublicKey=<public key for "n3" >
PresharedKey=<secret PSK for ( "n3" , "n1" ) >
Endpoint=n3:17815
AllowedIPs=fd00:bad:f00d::3/128


# n4
[WireGuardPeer]
PublicKey=<public key for "n4" >
PresharedKey=<secret PSK for ( "n4" , "n1" ) >
Endpoint=n4:17815
AllowedIPs=fd00:bad:f00d::4/128


# n5
[WireGuardPeer]
PublicKey=<public key for "n5" >
PresharedKey=<secret PSK for ( "n5" , "n1" ) >
Endpoint=n5:17815
AllowedIPs=fd00:bad:f00d::5/128


# n6
[WireGuardPeer]
PublicKey=<public key for "n6" >
PresharedKey=<secret PSK for ( "n6" , "n1" ) >
Endpoint=n6:17815
AllowedIPs=fd00:bad:f00d::6/128


