[NetDev]
Name=wg
Kind=wireguard

[WireGuard]
ListenPort=17815
PrivateKey=<private key for "h1.n2.net" >


# h1.n1.net
[WireGuardPeer]
PublicKey=<public key for "h1.n1.net" >
PresharedKey=<secret PSK for ( "h1.n2.net" , "h1.n1.net" ) >
Endpoint=h1.n1.net:17815
AllowedIPs=fd00:face:c0de::1:1/128


# h1.n3.net
[WireGuardPeer]
PublicKey=<public key for "h1.n3.net" >
PresharedKey=<secret PSK for ( "h1.n3.net" , "h1.n2.net" ) >
Endpoint=h1.n3.net:17815
AllowedIPs=fd00:face:c0de::3:1/128


# h2.n2.net
[WireGuardPeer]
PublicKey=<public key for "h2.n2.net" >
PresharedKey=<secret PSK for ( "h2.n2.net" , "h1.n2.net" ) >
Endpoint=h2.n2.net:17815
AllowedIPs=fd00:face:c0de::2:2/128


# h3.n2.net
[WireGuardPeer]
PublicKey=<public key for "h3.n2.net" >
PresharedKey=<secret PSK for ( "h3.n2.net" , "h1.n2.net" ) >
Endpoint=h3.n2.net:17815
AllowedIPs=fd00:face:c0de::2:3/128


# h4.n2.net
[WireGuardPeer]
PublicKey=<public key for "h4.n2.net" >
PresharedKey=<secret PSK for ( "h4.n2.net" , "h1.n2.net" ) >
Endpoint=h4.n2.net:17815
AllowedIPs=fd00:face:c0de::2:4/128


