[NetDev]
Name=wg
Kind=wireguard

[WireGuard]
ListenPort=17815
PrivateKey=<private key for "n1" >


# n2
[WireGuardPeer]
PublicKey=<public key for "n2" >
PresharedKey=<secret PSK for ( "n2" , "n1" ) >
Endpoint=n2:17815
AllowedIPs=fd00:dead:1dea::2/128


# n3
[WireGuardPeer]
PublicKey=<public key for "n3" >
PresharedKey=<secret PSK for ( "n3" , "n1" ) >
Endpoint=n3:17815
AllowedIPs=fd00:dead:1dea::3/128


# n4
[WireGuardPeer]
PublicKey=<public key for "n4" >
PresharedKey=<secret PSK for ( "n4" , "n1" ) >
Endpoint=n4:17815
AllowedIPs=fd00:dead:1dea::4/128


