[NetDev]
Name=wg
Kind=wireguard

[WireGuard]
ListenPort=17815
PrivateKey=<private key for "h2.n3.net" >


# h1.n3.net
[WireGuardPeer]
PublicKey=<public key for "h1.n3.net" >
PresharedKey=<secret PSK for ( "h2.n3.net" , "h1.n3.net" ) >
Endpoint=h1.n3.net:17815
AllowedIPs=fd00:face:c0de::3:1/128


# h3.n3.net
[WireGuardPeer]
PublicKey=<public key for "h3.n3.net" >
PresharedKey=<secret PSK for ( "h3.n3.net" , "h2.n3.net" ) >
Endpoint=h3.n3.net:17815
AllowedIPs=fd00:face:c0de::3:3/128


# h4.n3.net
[WireGuardPeer]
PublicKey=<public key for "h4.n3.net" >
PresharedKey=<secret PSK for ( "h4.n3.net" , "h2.n3.net" ) >
Endpoint=h4.n3.net:17815
AllowedIPs=fd00:face:c0de::3:4/128


