[Match]
Name=vx1

[Network]
DHCP=yes
IPForward=no
ConfigureWithoutCarrier=yes
KeepConfiguration=yes


# n1
[BridgeFDB]
VNI=1
MACAddress=00:00:00:00:00:00
Destination=fd00:bad:f00d::1

# n4
[BridgeFDB]
VNI=1
MACAddress=00:00:00:00:00:00
Destination=fd00:bad:f00d::4
