[Match]
Name=vx2

[Network]
DHCP=yes
IPForward=no
ConfigureWithoutCarrier=yes
KeepConfiguration=yes


# n2
[BridgeFDB]
VNI=2
MACAddress=00:00:00:00:00:00
Destination=fd00:bad:f00d::2

# n5
[BridgeFDB]
VNI=2
MACAddress=00:00:00:00:00:00
Destination=fd00:bad:f00d::5
