[Match]
Name=wg

[Network]
DHCP=no
IPv4LLRoute=no
LLMNR=no
MulticastDNS=no
LLDP=no
IPForward=no
ConfigureWithoutCarrier=true
KeepConfiguration=yes
VXLAN=vx1
VXLAN=vx2
VXLAN=vx3


[Address]
Address=fd00:bad:f00d::7/96
